* {padding: 0px; margin: 0px}

@font-face {
        font-family: 'Cyen';
        font-style: normal;
        src: url('Cyen.ttf'); /*if IE */
}

body {
	background: white;
}

#header{
	border: 1px solid #FFEFEF;
	height: 80px;
	margin: auto;
	background: #FFEFEF;
	
}

.logo-header{
	width: 80px;
	height: 80px;
	border: 10px solid white;
	border-radius: 5	px;
}

.database{
	margin-top: 30px;
	color: #FF5919;
	font-weight:bold;
	 font-family: 'Cyen';
	text-decoration: underline;
	width: 200px;
	padding: 7px;
}

.database a{color:#FF5919;}

#header-dalam {
	width: 840px;
	margin: auto;

	
}

#colom{
	float : left;
}

#masuk {
	margin-top: 30px;
	font-family: 'Cyen';
	background: #FF5919;
	padding: 10px 5px 2px 0px;
}

#masuk  ul li  {
	display: inline;
	
	}

#masuk ul li:hover ul { 
	display: block; 
	position: absolute; 	}

#masuk ul li ul {display: none; }
#masuk ul li ul li a{padding-top: 10px;background: #FFEFEF; display: block;  width: 100px; margin-left: 45px;  text-align: center; border-bottom: 2px solid orange; color: black;}
#masuk ul li a{
		text-decoration: none;
		padding: 5px;	
		color: #000;
		margin-left: 20px;		
}

#masuk ul li a:hover{
	background: #FF5919;
	padding-bottom: 8px;
	color: white;
	
	}

#masuk ul li:hover ul li a:hover {

	color: black;
}


#content {
	clear: both;
	width: 1000px;
	border: 1px solid 	#FF5919;
	margin: auto;
	margin-top: 30px;
	padding: 5px;	
	background: white;
}

#footer{
	
	padding: 5px;
	margin: auto;
 	background:#FFEFEF;
	margin-top: 50px;
	text-align: center;
	}
	
#footer li{
	display: inline;
	font-family: 'Cyen';
}	

#footer li a{
	padding: 10px;
	color: #FF5919;
	font-weight: bold;
}

#footer li a:hover{
	background: #FF5919;
	text-decoration: none;
	color: white;
}

#login {
	padding: 80px;
	left: 32%;
	top: 10%;
	z-index: 3;
	background:   #FFF;
	position: absolute;
	display: none;
	border: 1px solid #87a8a8;
	
}

#singup{
	padding-top: 10px;
	padding-left: 130px;
	padding-right: 100px;
	left: 15%;
	top: 10%;
	z-index: 2;
	background:  white;
	position: absolute;
	display: none;
	border: 1px solid #87a8a8;

}

#contact {
	padding-top: 10px;
	padding-left: 70px;
	padding-right: 40px;
	padding-bottom: 10px;
	left: 30%;
	top: 7%;
	z-index: 2;
	background:   #FFF;
	position: absolute;
	display: none;
	border: 1px solid #87a8a8;
}

#profile {width: 500px; margin: 0 auto; margin-top: 30px; padding: 5px; background: white ; border: 1px solid orange;
		padding: 20px; }

#profile ul li {font-size: 20px;
				padding: 5px;
				border-bottom: 1px solid gray;
				display: block;
				}
				
#profile li b{color: gray; font-size: 24px; margin-right: 10px;}				

#profile li b:hover{background: #A99494;}


