{% extends "admin.html" %}
{% block content %}
<div id="content"><br>
	<form action="/admin/user/edit/{{ datauser.id }}/" method="POST">
		<label> <b>Username :</b> </label>	
		<div class="input-prepend">
  			<span class="add-on">@</span>
  			<input class="span4" name="username" id="prependedInput" type="text" value="{{datauser.username}}">
		</div>	
		<label> <b>Fullname :</b> </label>	
		<input type="text" name="fullname" class="span6" value="{{datauser.fullname}}">
		
		<label> <b>Email :</b> </label>	
		<input type="email" name="email" class="span6" value="{{datauser.email}}">
		
		<label> <b>Angkatan :</b> </label>	
		<select name="angkatan" class="span6" >
				<option  value='{{ datauser.angkatan }}'>{{ datauser.angkatan }}</option>	
				<script>
					var now = new Date(); /*Important Line, that you all missing... */
											
					var checkyear = now.getUTCFullYear() + 1;
					
						for (x=1945; x<checkyear; x++)
							{	
								document.write("<option value="+x+">"+x+"</option>");
							}	
				</script>
			</select><br>
		
		<label> <b>Handphone :</b> </label>	
		<input type="text" name="hp" class="span6" value="{{datauser.handphone}}">
	
		<label> <b>Pekerjaan :</b> </label>	
		<input type="text" name="pekerjaan" class="span6" value="{{datauser.work}}">
		
		<!--<label> <b>Status :</b> </label>	
		<select name="status" class="span6" >	
			<option value="{{datauser.status}}" selected="selected"  disabled="disabled" >{{datauser.status}}</option>
			<option value="User">User</option>	
			<option value="Admin">Admin</option>	
		</select> -->
		<br>
		<label> <b>Alamat :</b> </label>	
		<input type="text" name="alamat" class="span6" placeholder="Pekerjaan" value="{{ datauser.alamat }}" required><br><br>
		 <button class="btn btn-large" type="submit">Change Profile</button>
	</form>	
</div>
{% endblock %}
