{% extends "index.html" %}

{% block content %}
<div id="content">
	<center>
    <form class="form-inline navbar-form" method="GET" action="/search/"> 
      <input type="text" class="span3" name="search-name" placeholder="Search Your Friend">
        <button type="submit" class="btn btn-warning">Search Now.</button>
    </form><br>
    
    <label><b>Filter Dari tingkatan:</b></label>
			<select id="angkatan">
				<script>
					var now = new Date(); /*Important Line, that you all missing... */
					var checkyear = now.getUTCFullYear() + 1;
						
						for (x=1945; x<checkyear; x++)
							{	
								document.write("<option value="+x+">"+x+"</option>");
							}	
				</script>
			</select></b>
			
    
  </center>
  <hr>
		<div class="bs-docs-example">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>NAMA </th>
                  <th>ANGKATAN</th>
                  <th>EMAIL</th>
                  <th>HANDPHONE</th>
                </tr>
              </thead>
              <tbody>
             {% if get_fullname %}  
				        {% for data in get_fullname %}		
                <tr>
                  <td><a href="/{{ data.username }}">{{ data.fullname }}</a></td>
                  <td>{{ data.angkatan }}</td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.handphone }}</td>
                </tr>
                	{% endfor %}
                {% else %}
                <div class="alert">
                  <strong>Tidak Ada Entry Untuk Angkatan <u><i>{{ angkatan }}</i></u>.</strong>
                </div>	
             {% endif  %}
              </tbody>
            </table>
          </div>
	</div>
{% endblock %}
