{% extends "index.html" %}
{% block content %}
<br>
<div id="profile" style="width: 740px;">
{% if data %}
<a href="{{ url_for('berita_add') }}"><button class="btn btn-primary" type="button">Add Berita</button></a>
<h3><u>Berita Alumni</u>.</h3>
	{% for news in news %}
	<h4 class="alert">{{ news.judul }}.</h4>
		<label><b>posted by : {{ news.user_adder }}</b></label>
			<p> {{ news.content }}</p>
	<hr>
	{% endfor %}
	
	{% else %}
	<h3><u>Berita Alumni</u>.</h3>
	{% for news in news %}
	<h4 class="alert">{{ news.judul }}.</h4>
		<label><b>posted by : {{ news.user_adder }}</b></label>
			<p> {{ news.content }}</p>
	<hr>
	{% endfor %}
		
	{% endif %}
				
</div>

{% endblock %}
