<!DOCTYPE HTML>
<html lang="id">
	<head>
		<title>ALUMNI SMAN2 BANDA ACEH</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">	
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.4.js') }}"></script>
		<script>
	$(document).ready(function(){
			$(".overlogin").click(function(){
				$("#singup").css("display","none");	
			    $("#login").fadeIn(300, 'linear', function(){
					$("#login").css("display","block");
			   });	
			});
			
			$(".login-keluar").click(function(){
				$("#login").fadeOut(300, 'linear', function(){
					$("#login").css("display","none");	
				});	
			});
			
		});
		
		$(document).ready(function(){
			$(".oversingup").click(function(){
			    $("#singup").fadeIn(300, 'linear', function(){
			    	$("#login").css("display","none");
				    $('#singup').css("display","block");
				});	
			});
			
			$(".singup-keluar").click(function(){
			 	$("#singup").fadeOut(300, 'linear', function(){
					$("#singup").css("display","none");	
			 	});
			});
			
			$(".overlay-contact").click(function(){
				$("#contact").css("display","block");
			});
			
		
			$(".contact-keluar").click(function(){
				$("#contact").css("display","none");
			});
			
			
		});
		</script>
		
	</head>
	
<body>
	<!-- HEADER -->
	<div id="header">
		<div id="header-dalam">
	      <div id="colom">
		   <a href="{{ url_for('index') }}"><img class="logo-header" src="{{url_for('static', filename='img/logo-sma-2.jpg')}}"></img></a>
		  </div>	
		  <div id="colom">
			<p class="database"><a href="{{ url_for('index') }}">DATABASE ALUMNI SMAN2 BANDA ACEH</a></p>
		  </div>
		   <div id="colom">
				<script type="text/javascript">
				var hari_ini= new Date()
				var tahun = hari_ini.getYear()
				
</script>

				
				
			{% block menu %}
				<div id="masuk">
				{% if auth %}
					<li><a href="{{ url_for('index') }}">HOME</a></li> 	
					<li><a href="#" class="setting">SETTING ACCOUNT</a></li> 
				{% else %}
					<li><a href="{{ url_for('index') }}">HOME</a></li> 	
					<li><a href="#" class="overlogin">LOGIN</a></li> 
					<li><a href="#" class="oversingup"> REGISTER</a></li>
				{% endif %}
				</div>
			{% endblock %}		
		  </div>	
		</div>
	</div>
	<!-- END HEADER -->
	
	
	<!--CONTENT-->
	{% block content %}
	<div id="content">
		<div class="bs-docs-example">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>NAMA </th>
                  <th>ANGKATAN</th>
                  <th>EMAIL</th>
                  <th>HANDPHONE</th>
                </tr>
              </thead>
              <tbody>
              	{% for alluser in all_user %}
                <tr>
                  <td>{{ alluser.id }}</td>
                  <td><a href="{{ alluser.username }}">{{ alluser.fullname }}</a></td>
                  <td>{{ alluser.angkatan }}</td>
                  <td>{{ alluser.email }}</td>
                  <td>{{ alluser.handphone }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
          </div>
	</div>
	{% endblock %}
	<!-- END CONTENT-->
	
	<!--FOR LOGIN -->
	<div id="login">
		
		<h4 class="login-keluar" style="padding-left: 300px; color: #FF5919; font-size: 40px; margin-top:    
		    -60px;">&times;</h4>
		<h3>LOGIN ...</h3>
			<form class="form-inline" action="/user/" method="POST">
  				<input type="text" name="user-login" class="span4" placeholder="Username" required><br><br>
  				<input type="password" name="user-password" class="input-small span4" placeholder="Password" required><br><br>
       		    <button type="submit" class="btn btn-large">Sign in</button>
				<a class="lupapassword" href="#">LUPA PASSWORD ?</a>
			</form>
	</div>
	<!--END LOGIN -->
	
	<!--FOR REGISTER -->
	<div id="singup">
	<h4 class="singup-keluar" style="margin-left: 650px; color: #FF5919; font-size: 40px; ">&times;</h4>
		<h3>REGISTER ...</h3>
		<form class="form-inline" method="POST" action="{{ url_for('register') }}">
			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			<input type="text" name="rg-name" class="span3" placeholder="Username" required>
  			<input type="text" name="rg-fullname" class="span4" placeholder="Fullname" required><br><br>
  			<input type="email" name="rg-mail" class="span4" placeholder="Email" required>
  			<input type="password" name="rg-password" class="span3" placeholder="Password" required><br><br>
  			<input type="text" name="rg-angkatan" class="span3" placeholder="Angkatan">
  			<input type="text" name="rg-hp" class="span4" placeholder="No-hp" required><br><br>
       	    <button type="submit" class="btn btn-large">Register</button>
			<a class="overlogin" href="#">Sudah punya akun !</a>
		</form>
	</div>
	<!--END REGISTER -->
	
	<!--CONTACT -->
	<div id="contact">
		<h4 class="contact-keluar" style="margin-left: 400px; color: #FF5919; font-size: 40px; ">&times;</h4>
		<h5>CONTACT/FEEDBACK ...</h5>
		<form class="form-inline"  action="/contact/" method="POST">
  				
  				<input type="text" name="contact-name" class="span4" placeholder="Your name"><br><br>
  				<input type="text" name="contact-email" class="input-small span4" placeholder="Email"><br><br>
  				<input type="text" name="contact-hp" class="span4" placeholder="No-Handphone"><br><br>
				Message : <br><textarea rows="7" name="contact-message" class="span4"></textarea><br><br>
  			     	
					<button type="submit" class="btn btn-large span3">Send</button>
				</form>		
				
	</div>
	
	<!-- END CONTACT -->

	
	<!-- FOOTER -->
	<div id="footer">
		<li><a href="https://www.facebook.com/firdaus.white?ref=tn_tnmn" target="blank">DEVELOPED-BY</a></li>
		<li><a class="overlay-contact">CONTACT/FEEDBACK</a></li>
		<li><a href="#">DONATE</a></li>
	</div>
	<!--END FOOTER -->
</body>
</html>
