<!DOCTYPE HTML>
<html lang="id">
	<head>
		<title>ALUMNI SMAN2 BANDA ACEH</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sample.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">	
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.4.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/ckeditor.js') }}"></script>
		<script type="text/javascript">
			var now = new Date(); /*Important Line, that you all missing... */
			var checkyear = now.getUTCFullYear() + 1;
			var monthly =now.getUTCMonth();
			var daily =now.getUTCDate();
		</script>
		<script>
			$(document).ready(function(){
			$(".overlogin").click(function(){
				$("#singup").css("display","none");	
			    $("#login").fadeIn(300, 'linear', function(){
					$("#login").css("display","block");
			   });	
			});
			
			$(".login-keluar").click(function(){
				$("#login").fadeOut(300, 'linear', function(){
					$("#login").css("display","none");	
				});	
			});
			
		});
		
		$(document).ready(function(){
			$(".oversingup").click(function(){
			    $("#singup").fadeIn(300, 'linear', function(){
			    	$("#login").css("display","none");
				    $('#singup').css("display","block");
				});	
			});
			
			$(".singup-keluar").click(function(){
			 	$("#singup").fadeOut(300, 'linear', function(){
					$("#singup").css("display","none");	
			 	});
			});
			
			$(".overlay-contact").click(function(){
				$("#contact").css("display","block");
			});
			
		
			$(".contact-keluar").click(function(){
				$("#contact").css("display","none");
			});
			
			
		});
		</script>
		<script>
		$(document).ready(function(){
			$('#angkatan').click(function(){
					var data = $('#angkatan').val();
					window.location = ("/angkatan/"+data);
			});
		});	
		</script>
		
	</head>
	
<body>
	<!--<marquee><h4>STILL MAINTANANCE YOUR DATA WILL BE LOSE !</h4></marquee>-->
	<!-- HEADER -->
	<div id="header">
		<div id="header-dalam">
	      <div id="colom">
		   <a href="{{ url_for('index') }}"><img class="logo-header" src="{{url_for('static', filename='img/logo-sma-2.jpg')}}"></img></a>
		  </div>	
		  <div id="colom">
			<p class="database"><a href="{{ url_for('index') }}">DATABASE ALUMNI SMAN2 BANDA ACEH</a></p>
		  </div>
		   <div id="colom">
				<script type="text/javascript">
				var hari_ini= new Date()
				var tahun = hari_ini.getYear()
				
</script>	
			{% block menu %}
				<div id="masuk">
				{% if auth %}
				<ul>	
					<li><a href="{{ url_for('index') }}">HOME</a></li> 	
					<li><a href="{{ url_for('admin') }}">ADMIN</a></li> 	
					<li><a href="/user/{{ get_user }}" class="setting"><b><u>{{ get_user }}</u></b> &raquo</a>
						<ul>
							<li><a href="{{ url_for('edit_user') }}">SETTINGS</a></li>
							<li><a href="{{ url_for('logout') }}">LOG OUT</a></li>
						</ul>	
					</li> 
				</ul>	
				{% else %}
				<ul>
					<li><a href="{{ url_for('index') }}">HOME</a></li> 	
					<li><a href="#" class="overlogin">LOGIN</a></li> 
					<li><a href="#" class="oversingup"> REGISTER</a></li>
				</ul>	
				{% endif %}
				</div>
			{% endblock %}		
		  </div>	
		</div>
	</div>
	<!-- END HEADER -->
	
	
	<!--CONTENT-->
	{% block content %}

	<div id="content">
	<center>
		<form class="form-inline navbar-form" method="GET" action="/search/"> 
			<input type="text" class="span3" name="search-name" placeholder="Search Your Friend">
			<button type="submit" class="btn btn-warning">Search Now.</button>
		</form><br>
		
			<label><b>Filter Dari tingkatan:</b></label>
			<select id="angkatan">
				<script>
					var now = new Date(); /*Important Line, that you all missing... */
					var checkyear = now.getUTCFullYear() + 1;
						
						for (x=1945; x<checkyear; x++)
							{	
								document.write("<option value="+x+">"+x+"</option>");
							}	
				</script>
			</select></b>
			
	</center>
	<hr>
		<div class="bs-docs-example">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
      
                  <th>NAMA </th>
                  <th>ANGKATAN</th>
                  <th>EMAIL</th>
                  <th>HANDPHONE</th>
                </tr>
              </thead>
              <tbody>
              	{% for alluser in all_user %}
                <tr>
                
                  <td><a href="/user/{{ alluser.username }}">{{ alluser.fullname }}</a></td>
                  <td>{{ alluser.angkatan }}</td>
                  <td>{{ alluser.email }}</td>
                  <td>{{ alluser.handphone }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
          </div>
	<hr>	
	</div>

	{% endblock %}
	<!-- END CONTENT-->
	
	<!--FOR LOGIN -->
	<div id="login">
		
		<h4 class="login-keluar" style="padding-left: 300px; color: #FF5919; font-size: 40px; margin-top:    
		    -60px;">&times;</h4>
		<h3>LOGIN ...</h3>
			<form class="form-inline" action="/user/" method="POST">
  				<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  				<input type="text" name="user-login" class="span4" placeholder="Username" required><br><br>
  				<input type="password" name="user-password" class="input-small span4" placeholder="Password" required><br><br>
       		    <button type="submit" class="btn btn-large">Sign in</button>
				<a class="lupapassword" href="{{ url_for('forgot') }}">LUPA PASSWORD ?</a>
			</form>
	</div>
	<!--END LOGIN -->
	
	<!--FOR REGISTER -->
	<div id="singup">
	<h4 class="singup-keluar" style="margin-left: 650px; color: #FF5919; font-size: 40px; ">&times;</h4>
		<h3>REGISTER ...</h3>
		<form class="form-inline" method="POST" action="{{ url_for('register') }}">
			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			<input type="text" name="rg-name" class="span3" placeholder="Username" required>
  			<input type="text" name="rg-fullname" class="span4" placeholder="Fullname" required><br><br>
  			<input type="email" name="rg-mail" class="span4" placeholder="Email" required>
  			<input type="password" name="rg-password" class="span3" placeholder="Password" required><br><br>
  			<b>ANGKATAN : 
  			<select name="rg-angkatan">
				<script>
					var now = new Date(); /*Important Line, that you all missing... */
					var checkyear = now.getUTCFullYear() + 1;
						for (x=1945; x<checkyear; x++)
							{	
								document.write("<option value="+x+">"+x+"</option>");
							}	
				</script>
			</select></b>
  			<input type="text" name="rg-hp" class="span3" placeholder="No-hp" required><br><br>
       	    <button type="submit" class="btn btn-large">Register</button>
			<a class="overlogin" href="#">Sudah punya akun !</a>
		</form>
	</div>
	<!--END REGISTER -->
	
	<!--CONTACT -->
	<div id="contact">
		<h4 class="contact-keluar" style="margin-left: 400px; color: #FF5919; font-size: 40px; ">&times;</h4>
		<h5>CONTACT/FEEDBACK ...</h5>
		<form class="form-inline"  action="/contact/" method="POST">
  				<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  				<input type="text" name="contact-name" class="span4" placeholder="Your name" required><br><br>
  				<input type="text" name="contact-email" class="input-small span4" placeholder="Email" required><br><br>
  				<input type="text" name="contact-hp" class="span4" placeholder="No-Handphone" required><br><br>
				Message : <br><textarea rows="7" name="contact-message" class="span4" required></textarea><br><br>
  			     	
					<button type="submit" class="btn btn-large span3">Send</button>
				</form>		
				
	</div>
	
	<!-- END CONTACT -->

	
	<!-- FOOTER -->
	<div id="footer">
		<li><a href="https://firdaus.jones.dk" target="blank">DEVELOPED-BY</a></li>
		<li><a class="overlay-contact">CONTACT/FEEDBACK</a></li>
<!--		<li><a href="#">DONATE</a></li>-->
	</div>
	<!--END FOOTER -->
</body>
</html>
