{% extends "index.html" %}
	
			{% block menu %}
				<div id="masuk">
				{% if auth %}
				<ul>	
					<li><a href="{{ url_for('index') }}">HOME</a></li> 	
					<li><a href="#" class="setting">SETTING</a>
						<ul>
							<li><a href="#">SETTINGS</a></li>
							<li><a href="{{ url_for('logout') }}">LOG OUT</a></li>
						</ul>	
					</li> 
				</ul>	
				{% else %}
				<ul>
					<li><a href="{{ url_for('index') }}">HOME</a></li> 	
					<li><a href="#" class="overlogin">LOGIN</a></li> 
					<li><a href="#" class="oversingup"> REGISTER</a></li>
				</ul>	
				{% endif %}
				</div>
			{% endblock %}		
{% block content %}
<div id="profile">
	<ul>
		<li> Nama : Muhammad Firdaus </li>
		<li> Angkatan : 2013 </li>
		<li> E-mail : firdauskoder@gmail.com </li>
		<li> No HP : 085270546820 </li>
		<li> Pekerjaan : Mahasiswa </li>
		<li> Alamat : Lampaseh Aceh </li>
	</ul>	
</div>
{% endblock %}
