{% extends "index.html" %}
{% block content %}
	<div id="content">
	
		<div class="bs-docs-example">
		<p>Searched Filter by <b>Angkatan = {{ lulusan }}</b>  </p> 
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>NAMA </th>
                  <th>ANGKATAN</th>
                  <th>EMAIL</th>
                  <th>HANDPHONE</th>
                </tr>
              </thead>
              <tbody>
             {% if data %}
				{% for data in data %}		
                <tr>
                  <td>{{ data.id }}</td>
                  <td><a href="{{ data.username }}">{{ data.fullname }}</a></td>
                  <td>{{ data.angkatan }}</td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.handphone }}</td>
                </tr>
                {% endfor %}
             {% endif  %}
              </tbody>
            </table>
          
          </div>
	</div>
{% endblock %}
